<% set_meta_tags title: "Home" %>

<div class="bg-gray-100 py-5 px-6 rounded-md">
  <%= page_title("Blood Pressure Tracker") %>
  <p class="my-2">
    A BP Tracker with Ruby and a few features to get you going.
  </p>

  <ul class="list-disc list-inside">
    <li>Tailwind CSS, header, form styles</li>
    <li>User authentication</li>
    <li>RSpec</li>
  </ul>
</div>
